
@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Consulta de Produtos</h5>
<p>Pesquise os produtos desejados:</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form>

            <label>Nome do Produto:</label>
            <input type="text" name="nome" class="form-control" />
            <br />

            <input type="submit" value="Pesquisar Produtos"
                   class="btn btn-success" />

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome do Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm">Alterar</a>
                        <a href="#" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        Quantidade de registros: 0
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>



